# Python
__pycache__/
*.pyc

# R
.Rhistory
.RData
.Rproj.user/

# Conda
.env
.venv

# Large analysis outputs
*.rds
*.rda
*.RData
*.gz
*.zip
*.tar

# Large matrices
*Normalized_Counts*
*VST*
*counts.tsv

# Raw data
data/raw/
data/processed/

# Temporary
tmp/
temp/
logs/

# OS
.DS_Store
Thumbs.db
